.project-img {
  height: 300px;
  width: 300px;
}
.project-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.react-icon {
  height: 20px;
  width: 20px;
}
.project-container {
  padding: 20px;
}
.icon-duration-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.project-title-heading {
  width: 60%;
}
